@(user:models.User)
@start("Musclepedia")(user){
    <script src="@routes.Assets.at("javascripts/help_bmi.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/help_kalrechner.js")" type="text/javascript"></script>
    <div class="row text-left">
        <div class="col-md-8" id="helppage">
            <div role="tabpanel">
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active">
                        <a href="#bmire" role="tab" data-toggle="tab">BMI-Rechner </a>
                    </li>
                    <li role="presentation">
                        <a href="#kalre" role="tab" data-toggle="tab">Kalorienrechner</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="bmire">
                        <h3>BMI Rechner </h3>
                        <p> Der Body Mass Index gibt eine Einordnung für Erwachsene mit normalen Körperbau an.
                            Die Aussagen des Rechners sind nur grob und sollten daher kritisch betrachtet werden.</p>
                        <p><input type="number" id="groesseB" placeholder="m"/>Größe </p>
                        <p><input type="number" id="gewichtB" placeholder="kg"/>Gewicht </p>
                        <select id="geschlecht">
                            <option value="1">männlich</option>
                            <option value="2">weiblich</option>
                        </select>
                        <p>Überprüfe bitte alle Angaben <input type="button" onclick="calcBMI()" value="BMI berechnen"></p>
                        <div id="bmierg"></div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="kalre">
                        <h3>Kalorienrechner</h3>
                        <p> Größe:   <input type="number" id="groesseK" placeholder="m"></p>
                        <p> Gewicht: <input type="number" id="gewichtK" placeholder="kg"></p>
                        <p> Alter:   <input type="number" id="alter" placeholder="in Jahren"></p>
                        <p> Aktivitäten </p>
                        <select id="faktor">
                            <option value="1.2">Nur sitzend oder liegend</option>
                            <option value="1.5">sitzend, kaum körperliche Aktivität</option>
                            <option value="1.7">sitzend, gehend und stehend</option>
                            <option value="1.9">Hauptsächlich gehend und stehend</option>
                            <option value="2.2">Körperlich anstrengende Arbeit </option>
                        </select>
                        <button onclick="calcCal()">Berechnen </button>
                        <div id="kalerg"></div>
                    </div>
                </div>

            </div>
        <script type="text/javascript">
            $(document).ready(function ($) {
                $('#myTab').tab();
              });
        </script>
            </div>
    </div>
    <hr>
    <div> Oder gehe zu <a href="/home">Pläne</a> | <a href='/profil'>Profil</a> | <a href="/kontakt">Kontakt</a> | <a href="/studios">Studios</a></div>
}