@(user: models.User)
@start("Kontakt")(user){
    <div class="row">
        <div class="col-md-8">
            <form method="get" id="mailform" action="/sendMail">
                <p> Name: <input type="text" id="surname" name="surname" placeholder="Nachname" required> <input type="text"  name="name" placeholder="Vorname"required> </p>
                <p> E-Mail:<input type="email" name="answerMail"required> An diese Adresse wird die Antwort geschrieben </p>
                <p>Ihre Nachricht an uns:</p> <textarea id="contact" name="MailContent" cols="40" rows="5" maxlength="145"></textarea>
                <p> Wir setzen uns so schnell wie möglich mit ihnen in Verbindung. Dieser Vorgang kann aber einige Tage dauern</p>
                <input type="submit" id="mail" onclick="test()" class="btn btn-primary" name="mail" value="Abschicken"/>
            </form>
        </div>
    </div>
}