@(user: models.User)
@start("Musclepedia"){
    <div role="tabpanel" class="tab-pane">
        <div class="row text-center">
            <div class="col-md-8" id="profil">
                <table border="3" id="profildaten" class="table-striped">
                    <tr>
                        <td>Benutzername </td>
                        @if(user.getName() != null){
                        <td>  @(user.getName()) </td>
                        }
                    </tr>
                    <tr>
                        <td>E-mail</td>
                        @if(user.getEmail() != null){
                        <td> @(user.getEmail()) </td>
                        }
                    </tr>
                </table>
            </div>
        </div>
    </div>
    @if(user.showPlan() != null){
        <div>
            <table border="2">
                <th>Übungsname</th><th>Beschreibung</th>
                @for(e <- user.showPlan()){
                    <tr><td>@e.getName</td><td>@e.getBeschreibung</td></tr>
                }
            </table>
        </div>
        }


    <form method="post">
        <p> Altes Passwort:     <input type="password" id="pwalt"></p>
        <p> Neues Passwort:     <input type="password" id="pwneu"></p>
        <p> Passwort wiederholen<input type="password" id="pwwieder"></p>
        <button>Passwort ändern </button>
        <p>Neue Email: <input type="email"> <button> Email ändern</button>  </p>

    </form>
}