@(weights : java.util.List[models.Weight], user: models.User)
@start("Musclepedia")(user){
    <script src="@routes.Assets.at("javascripts/changePassword.js")" type="text/javascript"></script>
    @helper.form(action = routes.Application.upload, 'enctype -> "multipart/form-data") {

        <input type="file" name="picture">

        <p>
            <input type="submit">
        </p>

    }

    <div>
        <div class="col-md-6">
            <div role="tabpanel" class="tab-pane">
                <div class="row text-center">
                    <div class="col-md-8" id="profil">
                        <table class="text-center table table-striped" border="2" id="profildaten">
                            <th class="text-center"> Benutzername </th> <th  class="text-center"> E-Mail </th> <th> Trainiert im:  </th>
                            <tr>@if(user.getName() != null){
                                    <td>  @(user.getName()) </td>
                                }
                                @if(user.getEmail() != null){
                                    <td> @(user.getEmail()) </td>
                                }
                                <td>
                                    @if(user.getStudio() != null){
                                     @(user.getStudio().getName())
                                    }
                                    <br/>
                                    <a href="/knstudio">Mein Studio</a>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <br/>
            </div>
        </div>
        <div class="col-md-6" id="changeForm">
            <input type="button" class="btn btn-success" value="Neues Passwort festlegen" onclick="changePasswordForm()"/>
        </div>
    </div>
    <div class="col-md-8 col-md-offset-2">
        @if(user.showPlan() != null){
            <div  class="text-center">
                <table border="2" class="table table-striped">
                    <caption> <h3>Mein erstellter Trainigsplan</h3> </caption>
                    <th  class="text-center">Übungsname</th><th  class="text-center">Beschreibung</th><th></th>
                    @for(e <- user.showPlan()){
                        <tr><td>@e.getName</td><td>@e.getBeschreibung</td><td> <form action="/deleteExercise" method="get"><input class="btn btn-danger" type="submit" value="löschen"><input type="hidden" name="auswahl" value="@e.getName"></form> </td></tr>
                    }
                </table>
            </div>
        }
    </div>
    <br/>
    <div class="col-md-8 col-md-offset-2">
        <table border="2" class="table table-striped">
            <caption> <h3>Gewichtüberwachung</h3> </caption>
            <th> Datum </th><th> Gewicht</th>
        @for(w <- weights){
            @if(w.getUser().getName().equals(user.getName)){
                <tr><td>@w.getDateText() </td> <td>@w.getWeight()</td> </tr>
            }
        }
        </table>
    </div>
    <div class="col-md-8 col-md-offset-2">
        <form method="get" action="/addWeight">
            Gewicht: <input type="number" name="weight"/>
            <br/>
            <p></p>
            <input type="submit" class="btn btn-success" value="Gewicht hinzufuegen"/>
        </form>
    </div>
    <br/>
    <a href="/generatePDF">Als PDF exportieren (nicht funktionstüchtig)</a>
}