@(user:models.User)
@start("Musclepedia")(user){
  <script src="@routes.Assets.at("javascripts/uebungen.js")" type="text/javascript"></script>
  <div class="text-center">
    <h3 class="text-center"> Arm-Übungen</h3>
    <br>
    <table class="table table-striped">
      <thead class="text-center">
        <div class="container">
          <tr>
            <th class="text-center col-md-3"> Name </th>
            <th class="text-center col-md-3"> Beschreibung </th>
            <th class="text-center col-md-3"> Bild </th>
            <th class="text-center col-md-3"> Schwierigkeitsgrad </th>
            <th></th>
          </tr>
        </div>
      </thead>
      <tbody class="text-center">
        <tr>
          <td>Frenchpress</td>
          <td>Hier kommt die Beschreibung</td>
          <td><img src="@routes.Assets.at("images/bank.jpg")" height="150" width="150" alt="bank.jpg" class="img-thumbnail" onmouseover="javascript:bigImg(this)" onmouseout="javascript:normalImg(this)"/></td>
          <td>Fortgeschritten</td>
          <td> <form method="GET" action="/addExercise"> <input class="btn btn-success" type="submit" value="add to plan"><input type="hidden" name="auswahl" value="Frenchpress"></form> </td>
        </tr>
        <tr>
          <td>Hammer-Curls</td>
          <td>Hier kommt die Beschreibung</td>
          <td><img src="@routes.Assets.at("images/bank.jpg")" height="150" width="150" alt="bank2.jpg" class="img-thumbnail" onmouseover="javascript:bigImg(this)" onmouseout="javascript:normalImg(this)"/></td>
          <td>Fortgeschritten</td>
          <td><form method="GET" action="/addExercise"> <input class="btn btn-success" type="submit" value="add to plan"><input type="hidden" name="auswahl" value="Hammer-Curls"></form> </td>
        </tr>
        <tr>
          <td>Konzentrationscurls</td>
          <td>Hier kommt die Beschreibung</td>
          <td><img src="@routes.Assets.at("images/bank.jpg")" height="150" width="150" alt="bank.jpg" class="img-thumbnail" onmouseover="javascript:bigImg(this)" onmouseout="javascript:normalImg(this)"/></td>
          <td>Fortgeschritten</td>
          <td> <form method="GET" action="/addExercise"><input class="btn btn-success" type="submit" value="add to plan"><input type="hidden" name="auswahl" value="Konzentration-Curls"></form> </td>
        </tr>
      </tbody>
    </table>
  </div>
}